.cart-area-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  background-color: #b2ccdc;
}

#cart-icon {
  opacity: 80%;
  margin: 5px;
}

#number-of-cart-items {
  font-size: 20px;
  color: rgba(78, 77, 77, 0.925);
  margin: 5px;
}

#book-button {
  background-color: #ffbb00;
  border: 2px solid #ffbb00;
  transition: 0.4s;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin: 5px 0 5px 5px;
  box-shadow: 0px 5px 15px 1px #bcbcbce0;
  box-shadow: inset 0 0 0 0 rgba(78, 77, 77, 0.925);
}

#book-button:hover {
  cursor: pointer;
  background-color: #72808a;
  box-shadow: 0px 0px 3px 1px rgba(78, 77, 77, 0.925);

  border: 2px solid #72808a;
}

/* Tickets */

.tickets-container {
  display: grid;
  justify-content: center;
  margin: 20px;
}

.ticket-widget {
  margin: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  border: 2px groove #72808a;
  font-size: 20px;
}

.ticket-type {
  background-color: #72808a;
  color: white;
  border-right: 1px solid white;
  padding: 30px;
  text-align: center;
}

.ticket-price {
  text-align: center;
  color: white;
  font-weight: bold;
}

.add-button-container {
  color: rgb(78, 77, 77);
  display: flex;
  align-items: center;
}

.add-button {
  font-size: 20px;
  width: 40px;
  padding: 5px 10px;
  margin: 0 10px;
  color: rgb(78, 77, 77);
  background-color: #ffbb00;
  border: 2px solid #ffbb00;
  border-radius: 3px;
  box-shadow: inset 0 0 0 0 #fb9e23;
  transition: 0.4s;
}

.add-button:hover {
  cursor: pointer;
  box-shadow: inset 2em 0 0 0 #fb9e23;
  border: 2px solid #fb9e23;
}
