.tickets-container {
  display: grid;
  justify-content: center;
  margin: 20px;
}

/* CartArea component */

.cart-area-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  background-color: #b2ccdc;
}

#cart-icon {
  opacity: 80%;
  margin: 5px;
}

#cart-items-num {
  font-size: 20px;
  color: rgba(78, 77, 77, 0.925);
  margin: 5px;
}

/* GoToSummaryButton componnet */

#book-button {
  color: white;
  font-size: 20px;
  padding: 10px;
  margin: 5px 0 5px 5px;
}

.book-button-enabled {
  cursor: pointer;
  transition: 0.4s;
  background-color: #ffbb00;
  border: 2px solid #ffbb00;
  box-shadow: 0px 5px 15px 1px #a1a1a1e0;
}

.book-button-enabled:hover {
  background-color: #72808a;
  box-shadow: 0px 0px 3px 1px rgba(78, 77, 77, 0.925);
  border: 2px solid #72808a;
}

.book-button-disabled {
  cursor: not-allowed;
  background-color: #9b9a9a;
  border: 2px solid #9b9a9a;
}

/* TicketWidget container */

.ticket-widget {
  margin: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  border: 2px groove #72808a;
  font-size: 20px;
}

.ticket-type {
  background-color: #72808a;
  color: white;
  border-right: 1px solid white;
  padding: 30px;
  text-align: center;
}

.ticket-price {
  font-weight: bold;
}

.ticket-button-container {
  color: rgb(78, 77, 77);
  display: flex;
  align-items: center;
}

.ticket-button {
  font-size: 20px;
  width: 40px;
  padding: 5px 10px;
  margin: 0 10px;
  color: rgb(78, 77, 77);
  background-color: #ffbb00;
  border: 2px solid #ffbb00;
  border-radius: 3px;
  box-shadow: inset 0 0 0 0 #fb9e23;
  transition: 0.4s;
  cursor: pointer;
}

.ticket-button:hover {
  box-shadow: inset 2em 0 0 0 #fb9e23;
  border: 2px solid #fb9e23;
}
