#background-image {
  background-image: linear-gradient(
      rgba(236, 236, 236, 0.1),
      rgba(135, 178, 196, 0.4)
    ),
    url("https://i.redd.it/z4gkx9qorna31.jpg");

  height: 100vh;
  background-size: cover;
}

.text-container {
  padding: 100px;
  background-color: #a1b7c6;
  color: white;
  font-size: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#go-to-shop-button {
  padding: 20px 40px;
  font-size: 30px;
  color: white;
  background-color: #ffc800;
  border: 2px solid #ffc800;
  transition: 0.4s;
  box-shadow: 0px 5px 15px 1px #c0c0c0;
}
#go-to-shop-button:hover {
  cursor: pointer;
  background-color: #72808a;
  box-shadow: 0px 0px 16px 3px rgba(78, 77, 77, 0.925);
  border: 2px solid #72808a;
}
